body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  max-width:100%;
}

.backPicture{
  width: 200px;
}

.main-container{
  background-image: url("./assets/backImg.jpg");
  background-size:cover;
  padding-top: 11em;
  height: 657px;
}

.main-container1{
  background-image: url("./assets/foot3.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

.main-container2{
  background-image: url("./assets/volleyball1.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

.main-container3{
  background-image: url("./assets/basket4.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

