body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  max-width:100%;
}

.backPicture{
  width: 200px;
}

.main-container{
  background-image: url("./assets/backImg.jpg");
  background-size:cover;
  padding-top: 11.3em;
  height: 657px;
  color:white;
}

.main-container1{
  background-image: url("./assets/foot3.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

.main-container2{
  background-image: url("./assets/volleyball1.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

.main-container3{
  background-image: url("./assets/basket4.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

.main-container4{
  background-image: url("./assets/badmin.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

.main-container5{
  background-image: url("./assets/tennis1.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

.main-container6{
  background-image: url("./assets/billiards.jpg");
  background-size:cover;
  padding-top: 4em;
  height: 657px;
}

.main-container7{
  background-image: url("./assets/background2.png");
  background-size:cover;
  padding-top: 1em;
  height: 657px;
  color:whitesmoke;
  background-color:chocolate
}


.container-banner1{
  background-color:chocolate;
  text-align: center;
  border-style: hidden;
  border-radius: 15px;
  height: 600px;
  width: 450px;
  font-family: 'Ruda', sans-serif;
}

.container-banner2{
  background-color:chocolate;
  text-align: center;
  border-style: hidden;
  border-radius: 15px;
  height: 600px;
  width: 820px;
  font-family: 'Ruda', sans-serif;
}
